.App {
  text-align: center;
}

.bordered-content{
  text-align: left;
  height: 100%;
  margin: 4px;
  padding: 4px;
  border: 1px solid #808080;
}

.content_row{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #808080;
}

.help-icon{
  height: 12px;
  width: 12px;
  padding: 4px;
}

.left-vertical {
  flex-basis: 12.5%;
}

.models {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

.run {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.title{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 8px;
}